# iCEstick FPGA - Lattice iCE40HX1k pin constraints
# Clock 12MHz onboard

set_io clk J3
set_io rst_n R9

set_io uart_rx_pin B3
set_io uart_tx_pin A4

set_io led_busy B5
set_io led_done B4
set_io led_error A2
set_io led_data[0] B2
set_io led_data[1] A1
set_io led_data[2] B1
set_io led_data[3] A3
set_io led_data[4] B3
set_io led_data[5] A4
set_io led_data[6] B5
set_io led_data[7] B4

# 12MHz clock - need PLL to get 50MHz or run at 12MHz with adjusted UART BAUD_DIV
# For 12MHz: BAUD_DIV = 12e6/115200 = 104
